body {
  margin-top: 50px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  background-color: darkslategrey;
  /* background-color: #7c90a0; */
  /* background: linear-gradient(
    125deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(242, 61, 165, 1) 0%,
    rgba(38, 0, 255, 1) 100%
  ); */
  color: black;
  text-align: center;
  margin: auto;
}

header {
  position: fixed;
  top: 0;
  margin: auto;
  margin-top: 20px;
}

#mealPlanBtn {
  width: 150px;
  margin-bottom: 15px;
}

#mealPlanResponseDiv {
  border-radius: 14px;
  background-color: #4e5166;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 700px;
  max-height: 900px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  margin-bottom: 30px;
}
