body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #716969;
  color: #bcabae;
  text-align: center;
  /* width: 800px; */
  margin: auto;
}

#mealPlanResponse {
  /* max-width: 1000px; */
}

#mealPlanBtn {
  width: 150px;
}
